body {
	background-color: lightgray !important;
    font-family:Lucida Sans Unicode;
    font-size:14px;
}
.pageHeader {
	padding:10px;
	font-size:24px;
	font-weight:bold;
}
.pageHeader span {
	color:#666;
	display:block;
	font-size:16px;
}
.providersContainer {
	border:2px solid darkgray;
	background:white;
	margin:10px;
}
.providers {
	display:flex;
	flex-direction:row;
	background-color:white;
	padding:10px;
	margin:2px;
}
.providers:nth-child(even) {
	background-color:lightgray;
}
.providerInfo input {
	width:100%;
}
.flexContainer {
	display:flex;
	flex-direction:row;
}
.flexContainer > div {
	margin-left:10px;
	margin-right:10px;
}
.providerInfo {
	margin-bottom:10px;
}
input[type=checkbox]
{
	width:18px;
	height:18px;
	align-self:center;
	margin-right:10px !important;
}
.btnAsc:after {
	 content: '\25b2'
}
.btnDesc:after {
	 content: '\25bc'
}