body {
	background-color: lightgray;
    font-family:Lucida Sans Unicode;
    font-size:14px;
}
.pageHeader {
	padding:10px;
	font-size:24px;
	font-weight:bold;
}
.pageHeader span {
	color:#666;
	display:block;
	font-size:16px;
}
.containerHeader {
	border:2px solid darkgray;
	border-bottom:none;
	padding:5px;
	background-color:lightblue;
	font-weight:bold;
}
.containerBody {
	border:2px solid darkgray;
	padding:5px;
	background-color:white;
}
.providersContainer {
	border:2px solid darkgray;
	background:white;
	margin:10px;
}
.providers {
	display:flex;
	flex-direction:row;
	background-color:white;
	padding:10px;
	margin:2px;
}
.providers:nth-child(even) {
	background-color:lightgray;
}
.providerInfo input {
	width:100%;
}
.flexContainer {
	display:flex;
	flex-direction:row;
}
.container {
	margin:10px;
}
.providerInfo {
	margin-bottom:10px;
}